
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {

    background: #fdfbfb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(51, 4, 4);
    font-size: 100%;
    margin: auto;
    
}
#menu-horizontal {
  display: flex;
  justify-content: center;
}
#menu-horizontal ul{display: flex;
  justify-content: center;
    list-style-type: none;
    padding: 0;
    background-color: #bd1414;
    font-size: 20px;  
}

#menu-horizontal ul li {
    display: inline;
  
}

#menu-horizontal ul a {
color: #fff;
text-decoration: none;
display: inline-block;
transition: background .4s;
padding: 20px;

}

#menu-horizontal ul a:hover {
background-color: rgb(10, 10, 10);
 }


 .rodape {
    background-color: #bd1414;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.rodape h4 {
    margin-top: 20px;
    color: #ccc;
}

.redes-sociais img {
    margin: 0 5px;
}

.dicas {
    flex-wrap: wrap;
    flex-direction: column;
}

.videos-dicas {
    width: 20%;
    padding: 10px;
     margin-bottom: 20px;
     display: inline;
}
h1,h2,h3,h5{
    background-color:rgba(196, 14, 14, 0.829);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
    text-align: center;
}

p {
    padding: 10px;
}

.entradinhas{
   display: flex;
   justify-content: center;
   border-radius: 20%;
}
.entradinhas img{
    border-radius: 50%; 
    border: 4px solid #770808; 
    box-shadow: 0 2px 4px rgba(134, 4, 4, 0.1); 
  }

 h3,p{
 text-align: center;
  
}
.promos{
    text-align: center;
    display: block;
}
  
   .carne{
    display: flex;
    justify-content: center;
   border-radius: 20%;
 }
 
.carne img {
    border-radius: 50%; 
    border: 4px solid #770808; 
    box-shadow: 0 2px 4px rgba(134, 4, 4, 0.1); 
  }

.conteudo {
    text-align: center; 
    margin: auto;
  }
  
  
  .imagem-promo {
    display: inline-block; 
    margin-top: auto;
    padding: 10px
   
  
  }
  
  .imagem-promo img {
    border-radius: 50%; 
    border: 4px solid #770808; 
    box-shadow: 0 2px 4px rgba(134, 4, 4, 0.1); 
  }
 
  #botao input[type="radio"] {
    display: none; 
  }

  #botao label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  
  #botao input[type="radio"]:checked + label {
    background-color: orange;
    color: rgb(212, 117, 9);
    border-color: orange;
  }

  .container {
    display: flex; 
  }
  
  .formulario {
    width: 50%; 
    float: left; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  
  .maps {
    width: 50%; 
    float: right; 
    padding: 10px; 
    box-sizing: border-box; 
  }
  
  .formulario:after {
    content: "";
    display: table;
    clear: both;
  }

  .logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh;
}

.logo-img {
    border-radius: 50%;
}