
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lora:ital@1&family=Merriweather:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {

    background: #5f1010;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(215, 227, 228);
    font-size: 100%;
}
#menu-horizontal ul{
    list-style-type: none;
    padding: 0;
    background-color: #5f1010;
    font-size: 20px;  
}

#menu-horizontal ul li {
    display: inline;
}

#menu-horizontal ul a {
color: bisque;
text-decoration: none;

display: inline-block;
transition: background .4s;
padding: 20px;
}

#menu-horizontal ul a:hover {
background-color: rgb(230, 113, 19);
 }
 
#conteudo{

    }